<h2 mat-dialog-title>Excluir {{EntityName}}</h2>
<mat-dialog-content>
    <p class="dialog-paragraph">
        <mat-icon>warning</mat-icon>
        <span>Tem certeza que deseja excluir
            <strong class="entity-name"> {{EntitySpecification}} </strong>?
        </span>
    </p>
    <mat-dialog-actions align="center">
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-button (click)="onConfirm()" cdkFocusInitial>Ok</button>
    </mat-dialog-actions>
</mat-dialog-content>