.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-title {
  margin: 0;
  padding: 0.5rem;
  background-color: var(--mat-sys-secondary);
  border-bottom: 1px solid var(--mat-sys-on-surface);
  color: var(--mat-sys-on-secondary);
}

.map-wrapper {
  flex: 1;
  position: relative;
  width: 100%;
}