.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4rem;
    width: fit-content;
    height: 2.5rem;

    position: relative;
    margin: auto;
    top: 0.75rem;
    z-index: 3;


    button.selected-button {
        &.mat-mdc-button-base {
            background-color: var(--mat-sys-primary);
            color: var(--mat-sys-on-primary);
        }
    }

    button.selected-button:hover {
        &.mat-mdc-button-base {
            background-color: var(--mat-sys-tertiary);
        }
    }

    mat-button-toggle-group {
        background-color: var(--mat-sys-surface);

        mat-button-toggle mat-icon {
            margin-right: 0.25rem;
        }
    }

    @media (max-width: 900px) {
        button span {
            display: none;
        }

        button mat-icon {
            margin: auto;
        }

        mat-button-toggle-group mat-button-toggle span {
            display: none;
        }

        mat-button-toggle-group mat-button-toggle mat-icon {
            margin: auto;
        }
    }
}

canvas {
    background-color: rgba(255, 255, 255, 0.075);
    border: 2px solid rgba(255, 255, 255, 0.125);
    border-radius: 0.25rem;
    width: 100%;
    height: calc(100dvh - 8rem);

    position: absolute;
    top: 4.75rem;
    z-index: 5;
}