<h2 mat-dialog-title>{{ isEditMode ? 'Editar Geometria' : 'Nova Geometria' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome da Geometria</mat-label>
      <input matInput formControlName="name" required>
       <mat-error *ngIf="form.get('name')?.hasError('required')">
        Nome é obrigatório.
       </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cor</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color.value">
           <span class="color-option-preview" [style.background-color]="color.value"></span>
          {{ color.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions align="end">
       <button mat-stroked-button type="button" (click)="onCancel()">Cancelar</button>
       <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
         {{ isEditMode ? 'Salvar' : 'Criar' }}
       </button>
    </mat-dialog-actions>

  </form>
</mat-dialog-content>