form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 100%;
}

.full-width {
    width: 100%;
}

.color-option-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid var(--mat-sys-surface-container);
}

mat-dialog-actions {
    margin-top: 1rem
}