<div #mapContainer class="map-container"></div>

<div class="controls">
    <!-- Show toggles ONLY when actively creating -->
    <mat-button-toggle-group *ngIf="selectedButton === 'create'" [value]="geometryType"
        (change)="onGeometryTypeChange($event)" name="geometryType" aria-label="Geometry Type">
        <mat-button-toggle value="Point">
            <mat-icon>radio_button_unchecked</mat-icon>
            <span>Ponto</span>
        </mat-button-toggle>
        <mat-button-toggle value="LineString">
            <mat-icon>timeline</mat-icon>
            <span>Linha</span>
        </mat-button-toggle>
        <mat-button-toggle value="Polygon">
            <mat-icon>category</mat-icon>
            <span>Polígono</span>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- Show Create button ONLY when in select mode AND nothing is selected -->
    <button mat-raised-button [ngClass]="{'btn-active': selectedButton === 'create'}" (click)="onCreate()"
        *ngIf="showCreateButton">
        <mat-icon>brush</mat-icon>
        <span>Criar</span>
    </button>

    <!-- Select button always visible, used to enter/confirm select mode or cancel edit -->
    <button mat-raised-button [ngClass]="{'btn-active': selectedButton === 'select'}" (click)="onSelect()">
        <!-- Icon changes slightly based on desktop/mobile -->
        <mat-icon id="desktop-icon">mouse</mat-icon>
        <mat-icon id="mobile-icon">pan_tool</mat-icon>
        <!-- Text could change if canceling edit? e.g., 'Cancelar Edição' -->
        <span>{{ selectedButton === 'edit-geometry' ? 'Cancelar Edição' : 'Selecionar' }}</span>
    </button>

    <!-- Edit Button: Dynamic Text/Icon/Action -->
    <button mat-raised-button
        *ngIf="showEditDeleteButtons"
        [ngClass]="{'btn-active': selectedButton === 'edit-geometry'}"
        (click)="onEdit()"
        [disabled]="!selectedFeature"
        matTooltip="{{ selectedButton === 'edit-geometry' ? 'Finalizar modificação da geometria' : 'Editar geometria selecionada' }}">

        <!-- Conditional Icon -->
        <mat-icon *ngIf="selectedButton !== 'edit-geometry'">edit_note</mat-icon>
        <mat-icon *ngIf="selectedButton === 'edit-geometry'">check_circle_outline</mat-icon>

        <!-- Conditional Text -->
        <span>{{ selectedButton === 'edit-geometry' ? 'Finalizar Forma' : 'Editar' }}</span>
    </button>

    <!-- Show Delete button ONLY when in select mode AND something is selected -->
    <button mat-raised-button color="warn"
       *ngIf="showEditDeleteButtons && selectedButton === 'select'"
       (click)="onDelete()"
       [disabled]="!selectedFeature">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
    </button>
</div>